# Virtual Environments
.venv/
env/
venv/
ENV/

# Dataset & Results
Rawdataset/
Results/
Dataset/

# Python Cache & Cekpoin Notebook
__pycache__/
*.py[cod]
*$py.class
.ipynb_checkpoints/
.pytest_cache/

# OS/IDE metadata
.DS_Store
.vscode/
Thumbs.db

# Streamlit secrets 
.streamlit/secrets.toml

# Notebook riset utama 
Notebooks/research_pipeline.ipynb
